<div class="row g-4 align-items-end pt-5">
  <!-- Search -->
  <div class="col-lg-12 col-md-6">
    <label class="form-label fw-semibold"> Search Product </label>
    <input
      type="text"
      class="form-control"
      placeholder="Search by product name"
      [formControl]="searchControl"
    />
  </div>

  <!-- Sort -->
  <div class="col-lg-12 col-md-6">
    <label class="form-label fw-semibold"> Sort By </label>
    <select class="form-select" [(ngModel)]="sortBy" (ngModelChange)="onFilterChange()">
      <option value="newest" selected>Newest</option>
      <option value="priceAsc">Price: Low to High</option>
      <option value="priceDesc">Price: High to Low</option>
      <!-- <option value="rating">Highest Rated</option> -->
    </select>
  </div>

  <div class="col-lg-12 col-md-6">
    <label class="form-label fw-semibold">Price Range</label>

    <!-- Min Slider -->
    <input
      type="range"
      class="form-range mb-2"
      min="0"
      [max]="Max_Price"
      [(ngModel)]="minPrice"
      (input)="onMinSliderChange()"
    />

    <!-- Max Slider -->
    <input
      type="range"
      class="form-range"
      min="0"
      [max]="Max_Price"
      [(ngModel)]="maxPrice"
      (input)="onMaxSliderChange()"
    />

    <div class="row mt-2">
      <div class="col-6">
        <small class="text-muted">Min</small>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="minPrice"
          (ngModelChange)="onMinInputChange()"
        />
      </div>

      <div class="col-6">
        <small class="text-muted">Max</small>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="maxPrice"
          (ngModelChange)="onMaxInputChange()"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <span class="fw-semibold">₹{{ minPrice }}</span>
      <span class="fw-semibold">₹{{ maxPrice }}</span>
    </div>
  </div>
</div>

<hr class="my-4" />

<!-- Clear -->
<div class="col-lg-12 col-md-6 d-grid">
  <button class="btn btn-outline-secondary border-danger" (click)="clearFilters()">Clear</button>
</div>
