<!-- Bottom Section -->
<div class="row mt-5">
  <!-- LEFT CONTENT -->
  <div class="col-lg-8">
    <!-- Description -->
    <div class="card shadow-sm border-0 rounded-4 mb-4">
      <div class="card-body">
        <h4 class="fw-bold mb-3">Description</h4>

        <p class="text-muted">
          Sony WH-1000XM5 headphones redefine premium listening with advanced active noise
          cancellation, immersive sound quality, comfortable ear cushions and up to 30 hours of
          battery life.
        </p>
      </div>
    </div>

    <!-- Specifications -->

    <div class="card shadow-sm border-0 rounded-4 mb-4">
      <div class="card-body">
        <h4 class="fw-bold mb-3">Specifications</h4>

        <table class="table align-middle mb-0">
          <tr>
            <th width="35%">Brand</th>
            <td>Sony</td>
          </tr>

          <tr>
            <th>Battery</th>
            <td>30 Hours</td>
          </tr>

          <tr>
            <th>Bluetooth</th>
            <td>5.3</td>
          </tr>

          <tr>
            <th>Warranty</th>
            <td>1 Year</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Reviews yaha aayega -->
    <div id="reviews">
      <!-- Customer Reviews -->

      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body">
          <h4 class="mb-4">Customer Reviews</h4>

          @for(review of reviews; track review.id){
          <!-- Review 1 -->
          <div class="mb-4">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <img
                  src="https://i.pravatar.cc/60?img=12"
                  alt="User"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />

                <div class="ms-3">
                  <h6 class="mb-0">Rahul Sharma</h6>
                  <small class="text-muted">★★★★★</small>
                </div>
              </div>

              <small class="text-muted">2 weeks ago</small>
            </div>

            <p class="text-muted mt-3 mb-0">
              Sound quality is excellent and the noise cancellation works really well. Battery
              backup is also impressive. Worth the price.
            </p>
          </div>
          <hr />
        }

        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDEBAR -->

  <div class="col-lg-4">
    <div class="position-sticky" style="top: 90px">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body">
          <h5 class="fw-bold mb-4">Related Products</h5>

          <!-- Product -->

          <div class="d-flex mb-3">
            <img
              src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=300"
              class="rounded"
              width="75"
              height="75"
            />

            <div class="ms-3">
              <h6 class="mb-1">Sony XM4</h6>

              <small class="text-muted"> ₹19,999 </small>

              <br />

              <button class="btn btn-sm btn-dark mt-2">View</button>
            </div>
          </div>

          <hr />

          <div class="d-flex mb-3">
            <img
              src="https://images.unsplash.com/photo-1518444065439-e933c06ce9cd?w=300"
              class="rounded"
              width="75"
              height="75"
            />

            <div class="ms-3">
              <h6 class="mb-1">JBL Live 770</h6>

              <small class="text-muted"> ₹9,999 </small>

              <br />

              <button class="btn btn-sm btn-dark mt-2">View</button>
            </div>
          </div>

          <hr />

          <div class="d-flex">
            <img
              src="https://images.unsplash.com/photo-1583394838336-acd977736f90?w=300"
              class="rounded"
              width="75"
              height="75"
            />

            <div class="ms-3">
              <h6 class="mb-1">Bose QC Ultra</h6>

              <small class="text-muted"> ₹27,999 </small>

              <br />

              <button class="btn btn-sm btn-dark mt-2">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
