<div class="container py-5">
  <!-- Breadcrumb -->
  <!-- <nav class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Electronics</a></li>
            <li class="breadcrumb-item active">Sony Headphones</li>
        </ol>
    </nav> -->
  <div class="row g-5">
    <!-- Images -->
    <div class="col-lg-6">
      <div class="card border-0 shadow-sm rounded-4">
        <div class="card-body">
          <img
            src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=800"
            class="img-fluid rounded-4 w-100"
          />
        </div>
      </div>
    </div>
    <!-- Details -->
    <div class="col-lg-6">
      <span class="badge bg-success mb-2"> In Stock </span>
      <h4 class="fw-bold">Sony WH-1000XM5 Wireless Headphones</h4>
      <!-- <div class="mb-3">
                ⭐⭐⭐⭐⭐
                <span class="text-muted">(245 Reviews)</span>
            </div> -->
      <span class="text-primary fw-bold fs-3">
        ₹24,999

        <small class="text-decoration-line-through text-muted fs-5"> ₹29,999 </small>

        <span class="badge bg-danger fs-5 ms-3"> 17% OFF </span>
      </span>
      <hr />
      <p class="text-muted">
        Industry-leading noise cancellation with crystal-clear sound, 30-hour battery life and
        premium comfort.
      </p>
      <!-- Quantity -->
      <div class="d-flex align-items-center my-4">
        <strong class="me-3"> Quantity </strong>

        <div class="input-group" style="width: 140px">
          <button class="btn btn-outline-secondary">-</button>

          <input class="form-control text-center" value="1" />

          <button class="btn btn-outline-secondary">+</button>
        </div>
      </div>
      <!-- Buttons -->
      <div class="d-flex gap-3 align-items-center">
        <button class="btn btn-dark btn-lg rounded-3 fs-6">
          <i class="fa-solid fa-cart-arrow-down"></i>
          Add To Cart
        </button>

        <button class="btn btn-success btn-lg rounded-3 fs-6">
          <i class="fa-solid fa-bolt"></i>
          Buy Now
        </button>
      </div>

      <hr />

      <div class="row text-center">
        <div class="col-4">
          <i class="fa-regular fa-truck"></i>
          <p class="small mt-2 mb-0">Free Delivery</p>
        </div>

        <div class="col-4">
          <i class="fa-solid fa-shuffle"></i>

          <p class="small mt-2 mb-0">7 Days Return</p>
        </div>

        <div class="col-4">
          <i class="fa-solid fa-lock"></i>

          <p class="small mt-2 mb-0">Secure Payment</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="row d-flex mt-5">
    <div class="col-lg-6">
      <div class="card shadow-sm border-0 rounded-4 h-100">
        <div class="card-body">
          <h4 class="fw-bold mb-3">Description</h4>

          <p class="text-muted">
            Sony WH-1000XM5 headphones redefine premium listening with advanced active noise
            cancellation, immersive sound quality, comfortable ear cushions and up to 30 hours of
            battery life.
          </p>
        </div>
      </div>
    </div>

    <!-- Specifications -->
    <div class="col-lg-6">
      <div class="card shadow-sm border-0 rounded-4 h-100">
        <div class="card-body">
          <h4 class="fw-bold mb-3">Specifications</h4>

          <table class="table">
            <tr>
              <th>Brand</th>
              <td>Sony</td>
            </tr>

            <tr>
              <th>Battery</th>
              <td>30 Hours</td>
            </tr>

            <tr>
              <th>Bluetooth</th>
              <td>5.3</td>
            </tr>

            <tr>
              <th>Warranty</th>
              <td>1 Year</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
